.overlay_alphacube {
	background-color: #85BBEF;
	filter:alpha(opacity=60);
	-moz-opacity: 0.6;
	opacity: 0.6;
}

.alphacube_nw {
	background: transparent url(../../../../../../js/prototype/windows/themes/alphacube/left-top.gif) no-repeat 0 0;
  width:10px;
  height:25px;
}

/*.alphacube_n {
  background: transparent url(../../../../../../js/prototype/windows/themes/alphacube/top-middle.gif) repeat-x 0 0;
  height:25px;
}
*/
.alphacube_ne {
  background: transparent url(../../../../../../js/prototype/windows/themes/alphacube/right-top.gif) no-repeat 0 0;
  width:10px;	  
  height:25px;
}

/*.alphacube_w {
  background: transparent url(../../../../../../js/prototype/windows/themes/alphacube/frame-left.gif) repeat-y top left;
  width:7px;
}*/

/*.alphacube_e {
  background: transparent url(../../../../../../js/prototype/windows/themes/alphacube/frame-right.gif) repeat-y top right;
  width:7px;	  
}
*/
.alphacube_sw {
  background: transparent url(../../../../../../js/prototype/windows/themes/alphacube/bottom-left-c.gif) no-repeat 0 0;
  width:7px;
  height:7px;
}
/*
.alphacube_s {
  background: transparent url(../../../../../../js/prototype/windows/themes/alphacube/bottom-middle.gif) repeat-x 0 0;
  height:7px;
}
*/
.alphacube_se, .alphacube_sizer  {
  background: transparent url(../../../../../../js/prototype/windows/themes/alphacube/bottom-right-c.gif) no-repeat 0 0;
  width:7px;
  height:7px;
}

.alphacube_sizer {
	cursor:se-resize;	
}

.alphacube_close {
	width: 23px;
	height: 23px;
	background: transparent url(../../images/ajaxcart/window-close.png) no-repeat;
    background-size: cover;
	position:absolute;
	top:1px;
	right:1px;
	cursor:pointer;
	z-index:1000;
}

.alphacube_minimize {
	width: 23px;
	height: 23px;
	background: transparent url(../../../../../../js/prototype/windows/themes/alphacube/button-min-focus.gif) no-repeat 0 0;
	position:absolute;
	top:0px;
	right:55px;
	cursor:pointer;
	z-index:1000;
}

.alphacube_maximize {
	width: 23px;
	height: 23px;
	background: transparent url(../../../../../../js/prototype/windows/themes/alphacube/button-max-focus.gif) no-repeat 0 0;
	position:absolute;
	top:0px;
	right:33px;
	cursor:pointer;
	z-index:1000;
}

.alphacube_title {
	float:left;
	height:14px;
	font-size:14px;
	text-align:center;
	margin-top:2px;
	width:100%;
	color:#636363;
}

.alphacube_content {
	overflow:auto;
	color: #000;
	font-family: Tahoma, Arial, sans-serif;
    font: 12px;
	background:#FDFDFD;
}

/* For alert/confirm dialog */
.alphacube_window {
	border:0px solid #F00;
	background: #FFF;
	padding:20px;
	margin-left:auto;
	margin-right:auto;
	width:400px;
}

.alphacube_message {
  font: 12px arial;
	text-align:center;
	width:100%;
	padding-bottom:10px;
}

.alphacube_buttons {
	text-align:center;
	width:100%;
}

.alphacube_buttons input {
	width:20%;
	margin:10px;
}

.alphacube_progress {
	float:left;
	margin:auto;
	text-align:center;
	width:100%;
	height:16px;
	background: #FFF url('../../../../../../js/prototype/windows/themes/alert/progress.gif') no-repeat center center
}

.alphacube_wired_frame {
	background: #FFF;
	filter:alpha(opacity=60);
	-moz-opacity: 0.6;
	opacity: 0.6;
}

.overlay_acalertwindow {
    background-color: #000;-moz-opacity: 0.3;opacity: .30;filter: alpha(opacity=30); z-index: 9995; !important;
}

.alert_nw {
    /*width: 5px;
    height: 5px;
    background: transparent url(alert/top_left.gif) no-repeat bottom left;*/
}

.alert_n {
    /*height: 5px;
    background: transparent url(alert/top.gif) repeat-x bottom left;*/
}

.alert_ne {
    /*width: 5px;
    height: 5px;
    background: transparent url(alert/top_right.gif) no-repeat bottom left*/
}

.alert_e {
    /*width: 5px;
    background: transparent url(alert/right.gif) repeat-y 0 0;*/
}

.alert_w {
   /* width: 5px;
    background: transparent url(alert/left.gif) repeat-y 0 0;*/
}

.alert_sw {
    /*width: 5px;
    height: 5px;
    background: transparent url(alert/bottom_left.gif) no-repeat 0 0;*/
}

.alert_s {
    /*height: 5px;
    background: transparent url(alert/bottom.gif) repeat-x 0 0;*/
}

.acalertwindow_se, .acalertwindow_sizer {
    width: 5px;
    height: 5px;
    background: transparent url(../../../../../../js/prototype/windows/themes/alert/bottom_right.gif) no-repeat 0 0;
}

.acalertwindow_close {
    width:0px;
    height:0px;
    display:none;
}

.acalertwindow_minimize {
    width:0px;
    height:0px;
    display:none;
}

.acalertwindow_maximize {
    width:0px;
    height:0px;
    display:none;
}

.acalertwindow_title {
    float:left;
    height:1px;
    width:100%;
}

.acalertwindow_content {
    text-align: center;
    overflow:visible;
    color: #000;
    font-family: Tahoma, Arial, sans-serif;
    font: 12px;
    background: #FFF;

}

/* For alert/confirm dialog */
.acalertwindow_window {
    background: #FFF;
    padding:20px;
    margin-left:auto;
    margin-right:auto;
    width:400px;
}

.acalertwindow_message {
    font: 12px arial;
    width:100%;

    padding-bottom:10px;
    padding-top:10px;
}

.acalertwindow_buttons {
    text-align:center;
     width: 20%;

    margin: 0 auto;
}

.acalertwindow_buttons input {
    width:20%;
    margin:10px;
}

.acalertwindow_progress {
    float:left;
    margin:auto;
    text-align:center;
    width:100%;
    height:16px;
    background: #FFF url('../../../../../../js/prototype/windows/themes/alert/progress.gif') no-repeat center center
}