<div class="blog-list-blog">
<?php $posts = $this->getPosts(); ?>
<div id="messages_product_view">
    <?php Mage::app()->getLayout()->getMessagesBlock()->setMessages(Mage::getSingleton('customer/session')->getMessages(true)); ?>
    <?php echo Mage::app()->getLayout()->getMessagesBlock()->getGroupedHtml(); ?>
</div>
<div class="page-title">
        <h1><?php echo $this->__('Blog'); ?></h1>
</div>

<?php // echo $this->getChildHtml('aw_blog_comments_toolbar'); ?>
<ul id="blog_post_list">
<?php foreach ($posts as $post): ?>
    <li>
     <div class="thumbnailimage"> <a  href="<?php echo $post->getAddress()?>"> <img src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA).$post->getthumbnailimage()?>" ></a>
      <div class="blog_info">
       <div class="blog_list_avtor"><i class="fa fa-user"></i><?php echo $post->getUser(); ?></h4></div>
           <div class="blog_list_visitor">
             <?php $viewed_post = Mage::getModel('blog/visitorpost')->load($post->getid()); ?>
                       <?php if (Mage::getStoreConfig('blog/blog/postview')==1) :?>
             <span class="views_post"><i class="fa fa-eye"></i>
              <?php if ($viewed_post->getViewed_post()) { echo $viewed_post->getViewed_post();} else {echo "0";} ?> 
               
              </span>  
            <?php endif; ?>
             <?php if (Mage::getStoreConfig('blog/blog/postсcomment')) :?>
             <span class="comment_post"><i class="fa fa-comments"></i>
              <?php if ($post->getCommentCount()) {echo Mage::helper('blog')->getCommentAll($post->getpost_id(),$post->getpost_coment());} else { echo "0";}?>
               </span>
             <?php endif; ?>
             </div>
          </div>   
      </div>
    <div class="postwrapper">
      
        <div class="posttitle">
            <h2><a href="<?php echo $post->getAddress(); ?>" ><?php echo $post->getTitle(); ?></a></h2>
          
        </div>
        <div class="top_post_detail">
        <div class="blog_list_date">
        <i class="fa fa-calendar"></i>
             <?php echo	$dateFrom = Mage::app()->getLocale()->date($post->getCreatedTime())->toString(Mage::app()->getLocale()->getDateFormat(Mage_Core_Model_Locale::FORMAT_TYPE_MEDIUM));?>
            </div>
        <div class="post_list_cat">
          
            <?php $postCats = $post->getCats(); ?>
            <?php if (!empty($postCats)): ?>
                <?php echo $this->__('Posted in'); ?>
                <?php foreach ($postCats as $data): ?>
                    <a href="<?php echo $data['url']; ?>"><?php echo $data['title']; ?></a>
                <?php endforeach; ?>
            <?php else: ?>
                <?php echo $this->__('Posted'); ?>
            <?php endif; ?>
            </div>
          
        </div>
        
        <div class="post_list_content"><?php echo $post->getPostContent(); ?>
        <div class="post_read_more"><a href="<?php echo $post->getAddress(); ?>" ><?php echo $this->__('Read more');  ?></a></div></div>
 
        <?php echo $this->getBookmarkHtml($post) ?>
       <?php /* <div class="tags"><?php echo $this->getTagsHtml($post) ?></div> */?>
        </div>
    </li><div class="easycatalogimg_bg"></div>
<?php endforeach; ?>
</ul>
<?php echo $this->getChildHtml('aw_blog_comments_toolbar'); ?>
</div>
