
 <?php if  ( Mage::getStoreConfig('blog/blog/postlimitincatdefaultstatus')) :?> 
<?php 
 $_category  = Mage::registry('current_category');

$colection_blog=  Mage::helper('awblogextendedpostcategory')->getPostByCategoryId($_category->getId(),$_category->getIsAnchor()); ?>
 <?php  if (count($colection_blog)>0 ):?>
      <div id="catalog_last_post_blog">
       <h2> <?php echo Mage::helper('blog')->__('News, articles and reviews'); ?></h2>
       
<ul>
<?php
foreach ($colection_blog as $post) :?>
	 <?php  //print_r ($post);?>
        <li>
       			
                 <a  class="blog_img" href="<?php echo Mage::getBaseUrl()."blog/".$post->getidentifier();?>" >
				 <img src="<?php echo Mage::getBaseUrl()."media/".$post->getthumbnailimage();?>" title="<?php echo $post->getTitle(); ?>" /></a>
                <a class="blog_name" href="<?php echo Mage::getBaseUrl()."blog/".$post->getidentifier();?>" ><?php echo $post->getTitle(); ?></a>
                 <div class="blog_list_date">
        <i class="fa fa-calendar"></i>
             <?php echo	$dateFrom = Mage::app()->getLocale()->date($post->getCreatedTime())->toString(Mage::app()->getLocale()->getDateFormat(Mage_Core_Model_Locale::FORMAT_TYPE_MEDIUM));?>
            </div>
              <div class="blog_list_visitor">
             <?php $viewed_post = Mage::getModel('blog/visitorpost')->load($post->getid()); ?>
                       <?php if (Mage::getStoreConfig('blog/blog/postview')==1) :?>
             <span class="views_post"><i class="fa fa-eye"></i>
              <?php if ($viewed_post->getViewed_post()) { echo $viewed_post->getViewed_post();} else {echo "0";} ?> 
               
              </span>  
            <?php endif; ?>
             <?php if (Mage::getStoreConfig('blog/blog/postсcomment')) :?>
             <span class="comment_post"><i class="fa fa-comments"></i>
              <?php if ($post->getCommentCount()) {echo Mage::helper('blog')->getCommentAll($post->getpost_id(),$post->getpost_coment());} else { echo "0";}?>
               </span>
             <?php endif; ?>
             </div>
                <div class="desc_post"><?php echo $post->getShort_content()?> </div>
              
                </li>       
   
<?php endforeach ?>
</ul>
</div>
<?php endif ?>
<?php endif?>