<div class="block block-blog">
    
    <div class="block-content">
       

        <?php if ($this->getCategories()->count() && Mage::getStoreConfig('blog/menu/category')): ?>
            <div class="menu-categories">
            <div class="block-title">
        <strong><span><?php echo Mage::getStoreConfig('blog/blog/title'); ?></span></strong>
    </div>
                <ul> 
                    <?php $cats = $this->getCategories(); ?>
                    <?php foreach ($cats as $cat): ?>
                        <li><a href="<?php echo $cat->getAddress(); ?>" ><?php echo $cat->getTitle(); ?></a></li>
                    <?php endforeach; ?>
                </ul>
            </div>
        <?php endif; ?>
 		
        <div class="blog-top-post">
      <div class="block-title"><strong><span><?php echo $this->__('Recent posts'); ?></span></strong></div>
		
<ul class="side bar tabs">
  <li class="tabClicker active"  id="tabs1" data-tab="tabs-1"><i class="fa fa-eye"></i><?php echo $this->__('Post viewed'); ?></li>
  <li class="tabClicker" id="tabs2" data-tab="tabs-2" ><i class="fa fa-comments"></i><?php echo $this->__('Post comment'); ?></li>
 </ul>
 
  <div id="tabs-1" class="tabContent" >
  <ul>
                    <?php foreach ($this->getRecentPostViewCat() as $post_top): ?>
      					<li>
                        <div class="thumbnailimage"> <a  href="<?php echo $post_top->getAddress()?>"> <img src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA).$post_top->getthumbnailimage()?>" ></a></div>                
                      <a href="<?php echo $post_top->getAddress(); ?>" ><?php echo $post_top->getTitle(); ?></a>
                         <div class="blog_list_visitor">
             <?php $viewed_post = Mage::getModel('blog/visitorpost')->load($post_top->getid()); ?>
                       <?php if (Mage::getStoreConfig('blog/blog/postview')==1) :?>
             <span class="views_post"><i class="fa fa-eye"></i>
              <?php if ($viewed_post->getViewed_post()) { echo $viewed_post->getViewed_post();} else {echo "0";} ?> 
               
              </span>  
            <?php endif; ?>
             <?php if (Mage::getStoreConfig('blog/blog/postсcomment')) :?>
             <span class="comment_post"><i class="fa fa-comments"></i>
              <?php if ($post_top->getCommentCount()) {echo Mage::helper('blog')->getCommentAll($post_top->getpost_id(),$post_top->getpost_coment());} else { echo "0";}?>
               </span>
             <?php endif; ?>
             </div>
                        
                        </li>
                    <?php endforeach; ?>
                    </ul>
  </div>             
 <div id="tabs-2" class="tabContent" > <ul>
                    <?php foreach ($this->getRecentPostComent() as $post_com): ?>
      					<li>
                        <div class="thumbnailimage"> <a  href="<?php echo $post_com->getAddress()?>"> <img src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA).$post_com->getthumbnailimage()?>" ></a></div>                
                      <a href="<?php echo $post_com->getAddress(); ?>" ><?php echo $post_com->getTitle(); ?></a>
                         <div class="blog_list_visitor">
             <?php $viewed_post = Mage::getModel('blog/visitorpost')->load($post_com->getid()); ?>
                       <?php if (Mage::getStoreConfig('blog/blog/postview')==1) :?>
             <span class="views_post"><i class="fa fa-eye"></i>
              <?php if ($viewed_post->getViewed_post()) { echo $viewed_post->getViewed_post();} else {echo "0";} ?> 
               
              </span>  
            <?php endif; ?>
             <?php if (Mage::getStoreConfig('blog/blog/postсcomment')) :?>
             <span class="comment_post"><i class="fa fa-comments"></i>
              <?php if ($post_com->getCommentCount()) {echo Mage::helper('blog')->getCommentAll($post_com->getpost_id(),$post_com->getpost_coment());} else { echo "0";}?>
               </span>
             <?php endif; ?>
             </div>
                        
                        </li>
                    <?php endforeach; ?>
                    </ul></div>
</div>


		
		<?php /*if ($posts = $this->getRecent()): ?>
            <div class="blog-recent-post">
                 <div class="block-title"><strong><span><?php echo $this->__('Recent Posts'); ?></span></strong></div>
                <ul>
                    <?php foreach ($posts as $post): ?>
                        <li>
                        <div class="thumbnailimage"> <a  href="<?php echo $post->getAddress()?>"> <img src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA).$post->getthumbnailimage()?>" ></a></div>
                        <a href="<?php echo $post->getAddress(); ?>" ><?php echo $post->getTitle(); ?></a></li>
                    <?php endforeach; ?>
                </ul>
            </div>
        <?php endif;*/ ?>
       
        <?php  //echo $this->getChildHtml('blog_tags'); ?>
    </div>
</div> 

<script>
var js = jQuery.noConflict();
 js(function() {
    js(".tabClicker").click(function() {
        var tab = js(this).attr("data-tab");
		 var id = js(this).attr("id");
		
		//alert(id);
        js(".tabContent").hide();
        js("#" + tab).show();
		js(".tabClicker").removeClass("active");
		js("#"+id).addClass("active");
    });    
});
 </script>