/**
 * @category   Auguria
 * @package    Auguria_Sliders
 * @author     Auguria
 * @license    http://opensource.org/licenses/gpl-3.0.html GNU General Public License version 3 (GPLv3)
 */

/**
 * Global
 */
#auguria-slider {
    margin: 0;
    padding: 0px;
    position: relative;
    z-index: 0;
 }

.auguria-slider-container div {
	display:block;
}

#auguria-slider .caption {
	background: none repeat scroll 0 0 rgba(10, 38, 60, 0.5);
    border-top: 1px solid #0A263C;
    color: #FFFFFF;
    font-size: 14px;
    left: 0;
    line-height: 14px;
    padding: 5px 20px 0;
    position: absolute;
    text-shadow: none;
    z-index: 500;    
}

ul.pagination {
	float:right;
    list-style: none outside none;
    margin-top: 7px;
}

ul.pagination li {
    float: left;
    list-style: none outside none;
    margin: 0 1px;
}

ul.pagination li a {
    background-image: url("../../../images/auguria/sliders/pagination.png");
    background-position: 0 0;
    display: block;
    float: left;
    height: 0;
    overflow: hidden;
    padding-top: 13px;
    width: 13px;
}

ul.pagination li  a:hover {
    background-position: 0 -26px;
}

ul.pagination li.current a, ul.pagination li.current a:hover {
    background-position: 0 -13px;
}

 #auguria-slider .prev {
    position: absolute;
    display: inline-block;
    margin-top:110px;
 
    z-index: 101;
    width: 52px;
    height: 92px;
}
#auguria-slider .next {
    position: absolute;
    display: inline-block;
    margin-left:710px;
    margin-top:110px;
    z-index: 102;
    width: 52px;
    height: 92px;
}
#auguria-slider a.next {
    background-image: url("../../../images/auguria/sliders/next.png");
}
#auguria-slider a.prev {
    background-image: url("../../../images/auguria/sliders/previous.png");
}
#auguria-slider a.next:hover{
    background-image: url("../../../images/auguria/sliders/next-hover.png");
}
#auguria-slider a.prev:hover {
    background-image: url("../../../images/auguria/sliders/previous-hover.png");
}
#auguria-slider .next span, #auguria-slider .prev span {
    display: none;
}